
#map {
    height: 600px;
    width: 100%;
    margin: 0 auto;
    border: 3px solid rgb(0,32,255);
    border-radius: 10px;
    resize: both;
    /* overflow: auto; */
}

.mapboxgl-popup {
    max-width: 300px;
}