<div class="container mt-4">
    <h1> Brottshändelser </h1>

    <div class="form-group mt-3 mb-2">
        <input type="text" class="form-control search-field w-25 p-3" placeholder="Filtrera händelser"
            [(ngModel)]="searchText" />
    </div>
    <table class="content-table fixed-table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
            <tr>
                <th>Favoriter</th>
                <th scope="col">Tid</th>
                <th scope="col">Plats</th>
                <th scope="col">Typ</th>
                <th scope="col">Summering</th>
            </tr>
        </thead>

        <tbody>
            <tr class="clickable" *ngFor="let item of myData | searchFilter : searchText">
                <td>
                    <app-like-button [isActive]="isActive(item)" (click)="toggleFavorite(item);"></app-like-button>
                    
                </td>
                <td [routerLink]="['/detaljer/', item.id]">
                    {{ item.name.split(",", 1) }}
                </td>
                <td [routerLink]="['/detaljer/', item.id]">{{ item.location.name }}</td>
                <td [routerLink]="['/detaljer/', item.id]">{{ item.type }}</td>
                <td [routerLink]="['/detaljer/', item.id]">{{ item.summary }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container">
    All information är hämtad från Polisens öppna
    <a href="https://polisen.se/api/events/">API</a>
    <span class="bi bi-heart"></span>
</div>


<div class="container">

    <app-liked  *ngIf= "showSaved" [favorites] = "favorites" (remove) = "removeFromFavorites($event)"></app-liked>

</div>